{{ $enableTableContents := .Site.Params.enableTableContents }}
{{if $enableTableContents }}
    <div class="col-12 col-md-4 col-lg-4 order-md-2" id="sidebarToc">
        <div class="blog-sidebar">
            <div class="blog-sidebar-section -table-of-contents card">
                <div class="center-line-title">
                    <h5>{{ T `post-toc` }}</h5>
                </div>
                <div class="toc">
                    {{ .TableOfContents }}
                </div>
            </div>
        </div>
    </div>  
{{ end }}
<div class="col-12  {{if $enableTableContents }} col-md-8 col-lg-8 order-md-1 {{end}}" id="postContent">
    <div class="row">
        <div class="post col-12" id="post">
            <div class="post-standard card">
                <div class="row">
                    <div class="col-12 order-md-2">
                        <div class="post-standard__content">
                            <h1 class="center">{{ .Title }}</h1>
                            <div class="content_info">
                                <p>
                                    <span title="{{ T `authors-title` }}"> <i class="iconfont icon-users"></i>{{ T `post-authors` }}：{{ with .Params.author }} {{ delimit . "," }} {{ else }} {{- .Site.Params.author -}} {{ end }}</span> 
                                    <span title="{{ T `publishDate-title` }}"><i class="iconfont icon-calendar"></i>{{ T `post-publishDate` }}：{{- .Date.Format (or .Site.Params.dateFormat.published "Jan 02, 2006") -}} </span>
                                    <span title="{{ T `readingTime-title` }}"><i class="iconfont icon-clock"></i>{{ T `post-reading` }}：{{- .ReadingTime -}} {{ T `readingTime-unit` }}</span>
                                    <span title="{{ T `post-uv-title` }}"><i class="iconfont icon-views"></i>{{ T `post-uv` }}：<span id="busuanzi_value_page_pv"></span></span>
                                </p>
                            </div>
                            {{ with .Param "description" }}
                            <div class="content_quote" title="{{ T `post-abstract` }}">
                                <i class="iconfont icon-quote"></i> <quote>{{ . }}</quote>
                            </div>
                            {{ end }}
                            {{/*  post cover  */}}
                            {{/*  {{ $image := partialCached "utils/image.html" (dict "Context" . ) . }}
                            {{ if $image.exists }}
                            <figure>
                                <div class="content-image" data-src="{{$image.permalink}}" data-sub-html="{{ .Title }}">
                                    <img src="{{$image.permalink}}" alt="{{ .Title }}" />
                                </div>
                            </figure>
                            {{end }}  */}}
                            <!-- post content -->
                            {{ .Content }}
                            <div class="post-footer">
                                {{ with .Params.tags }}
                                <div class="post-footer__tags " title="{{ T `tag-title` }}">
                                    <i class="iconfont icon-tags"></i>
                                    {{ range . }}
                                    <a href="/tags{{ . | relURL }}">{{ . }}</a> 
                                    {{ end }}
                                </div>
                                {{ end }}
                                
                                <!-- Related Posts -->
                                <div class="post-footer__related">
                                    {{ with .Prev }}
                                    <div class="post-footer__related__item -prev ">
                                        <!-- <a href="post_standard.html"> <i class="fas fa-chevron-left"></i>Previous posts</a> -->
                                        <div class="post-footer__related__item__content">
                                            <div>{{ T `post-prev` }}：</div>
                                            <div class="post-card ">
                                                <div class="card__content">
                                                    <!-- <h5 class="card__content-category">Open Source</h5> -->
                                                    <a class="card__content-title" href="{{ .RelPermalink | relURL }}">{{ .Title }}</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {{end}} {{ with .Next }}
                                    <div class="post-footer__related__item -next center">
                                        <!-- <a href="#">Next posts<i class="fas fa-chevron-right"></i></a> -->
                                        <div class="post-footer__related__item__content">
                                            <div>{{ T `post-next` }}：</div>
                                            <div class="post-card -right">
                                                <div class="card__content">
                                                    <!-- <h5 class="card__content-category">Open Source</h5> -->
                                                    <a class="card__content-title" href="{{ .RelPermalink | relURL }}">{{ .Title }}</a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    {{ end }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card post-footer__comment">
                {{ partial "plugins/comments/comment.html" . }}
            </div>
        </div>
    </div>
</div>
{{ partial "plugins/gallery/index.html" . }}