{{ define "padding-class" }}pd{{ end }} 
 {{ define "main" }}
<div class="blog-sidebar ">
    <div class="blog-sidebar-section -tags card">
        <div class="tags -utils">
            <div class="col-12 col-md-6 col-lg-12 mh-400">
                <div class="center-line-title -list center">
                    {{- $taxonomies := .Data.Plural -}}
                    <h1>{{ T ( printf "sidebar-%s" $taxonomies)  }}</h1>
                </div>
                <div class="tags-group mt-5">
                    {{ range $index, $element := .Data.Terms }} 
                    {{ if $index }}
                    <a class="tag-btn" href="{{ .Page.RelPermalink }}" title="{{ with $element.Page.Params.description }} {{ . }} {{ end }}"> 
                         {{ $element.Page.Title }}({{ printf "%#v" (len $element) }})</a> 
                         {{ end }}
                   {{ end }}
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}