<div class="footer-col -link">
    <div class="title">
        <h5>{{ T `footer-link` }}</h5>
    </div>
    <div class="link-item">
        <p>
            {{ range .Site.Params.footer.links}}
            {{ $name := .name }}
            <span class="link"  title="{{ .present }}">
                {{ with .icon }} <img src="{{ . }}" alt="{{ $name }}"> {{ end }}
                <a href="{{ .url | relURL }}" target="_blank">{{ $name }}</a>
            </span>
            {{ end }}
        </p>
    </div>
</div>