/***************************
	Content
***************************/
#content {
  padding-top     : remCal(130);
  background-color: #f5f7fd;

  &.pd {
    padding-bottom: remCal(130);
  }
}

.type-header-title {
  color        : setColor(title) !important;
  border-left  : 4px solid setColor(highlightStyle);
  align-items  : center;
  margin-bottom: emCal(16, 16);
  margin-top   : emCal(16, 8);
  font-size    : remCal(16);
  padding-left : emCal(16, 8);

  span {
    font-weight: bold;
  }
}

.card {
  padding         : 1em;
  margin          : 0 -15px 1em 0;
  border          : solid #f8f9fa;
  border-width    : .2em 0 0;
  border-radius   : 10px;
  box-shadow      : 0 1px 1px 0 rgba(0, 0, 0, .05);
  background-color: #fff;
  overflow-wrap   : break-word;
  word-break      : break-word;
  text-overflow   : ellipsis;
  width           : inherit;

  &.-pointer {
    cursor: pointer;
  }

  @include mq(sm) {
    padding     : 1.5em;
    margin-right: 0;
    margin-left : 0;
    border-width: .2em;
  }

  @include mq(sm) {
    &.-radius {
      border-radius: 0;
    }
  }

}