.nav-container {
    font-size: emCal(16, 13);

    .iconfont {
        font-size: emCal(16, 11);
    }

    .center-line-title {
        h5 {
            font-size    : remCal(16) !important;
            font-weight: bold !important;
            border-left : 4px solid setColor(highlightStyle) !important;
            padding-left: emCal(16, 8) !important;
        }
    }

    .nav-menu {
        padding-left : remCal(40);
        padding-right: remCal(40);
        margin-top   : remCal(20);
        margin-bottom: remCal(20);
        list-style   : none;
        overflow-wrap: break-word;
        word-wrap    : break-word;
        line-height  : 2;

        li>ul {
            padding-left: remCal(20);
        }

        a {
            color    : setColor(subTitle);
            font-size: emCal(15, 18);

            &:hover {
                font-weight: bold;
                color      : setColor(highlight);
            }
        }

        .has-sub {
            ul {
                padding-left: remCal(25);
            }
        }

        .is-hidden {
            display: none;
        }
    }

    .nav-cat {
        padding-left: remCal(10);

        span {
            font-size: emCal(16, 18);
        }
    }

    .nav-content {
        height            : remCal(86);
        cursor            : pointer;
        border-radius     : remCal(4);
        padding           : 0px remCal(5) 0px remCal(5);
        background-color  : #fff;
        border-radius     : remCal(4);
        border            : 1px solid #e4ecf3;
        margin            : remCal(20) 0 0 0;
        -webkit-transition: all 0.1s ease;
        -moz-transition   : all 0.1s ease;
        -o-transition     : all 0.1s ease;
        transition        : all 0.1s ease;

        &:hover {
            transform         : scale(1.1);
            -webkit-transform : scale(1.1);
            -moz-transform    : scale(1.1);
            box-shadow        : 0 remCal(26) remCal(40) -remCal(24) rgba(0, 36, 100, 0.3);
            -webkit-box-shadow: 0 remCal(26) remCal(40) -remCal(24) rgba(0, 36, 100, 0.3);
            -moz-box-shadow   : 0 remCal(26) remCal(40) -remCal(24) rgba(0, 36, 100, 0.3);
            -webkit-transition: all 0.1s ease;
            -moz-transition   : all 0.1s ease;
            -o-transition     : all 0.1s ease;
            transition        : all 0.1s ease;

            color: setColor(highlight);
        }

        .of {
            overflow          : hidden;
            text-overflow     : ellipsis;
            transform         : none;
            -webkit-transform : none;
            -moz-transform    : none;
            white-space: nowrap;
            padding: remCal(5) 0;
        }

        .nav-item {
            &-title {
                img {
                    margin-top: .1em;
                    float        : left;
                    display      : block;
                    margin-right : remCal(10);
                    border-radius: 50%;
                    width        : remCal(40);
                    height       : remCal(40);
                }

                strong {
                    font-size: emCal(16, 16);
                }

                &::after {
                    display: table;
                    clear  : both;
                    content: "";
                }
                .of{
                    padding-top: remCal(15) !important;
                }

                &-logo{
                    font-size: emCal(16,32);
                    font-weight: lighter;
                    float: left;
                    display: block;
                    margin-top: .1em;
                    margin-right: .625rem;
                    border-radius: 50%;
                    width: 2.5rem;
                    height: 2.5rem;
                    text-align: center;
                    align-items: center;
                    padding: remCal(6);
                    border: 1px solid setColor(border)
                }
            }

            &-content {
                padding: remCal(5);
                color  : setColor(subTitle);
            }
        }
    }
}